<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="ui">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 写文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读文件权限 -->
    <application
        android:name=".publicData"
        android:allowBackup="true"
        android:icon="@mipmap/timg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainActivity"></activity>
        <activity android:name=".foundLocalActivity"></activity>
        <activity android:name=".seachActivity"></activity>
        <service android:name="service.playMusicService"></service>
    </application>

</manifest>
